/* price table  */

.price {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.price-flex {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: auto;
}

@media(max-width:550px) {
    .price-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        height: auto;
    }
}

@media(min-width:550px) and (max-width:1024px) {
    .price-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        height: auto;
    }
}

.price-inner {
    width: 20%;
    height: 300px;
    padding: 20px;
    margin: 5px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);
}

@media(max-width:550px) {
    .price-inner {
        flex-direction: row;
        flex-basis: 100%;
        width: fit-content;
        height: 300px;
        padding: 20px;
        margin: 5px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.6);
    }
}

@media(min-width:550px) and (max-width:1024px) {
    .price-inner {
        flex-direction: row;
        flex-basis: 40%;
        width: fit-content;
        height: 300px;
        padding: 20px;
        margin: 1.5rem;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.6);
    }
}

.price-inner:hover {
    border: 2px solid rgba(0, 179, 170, 0.9);
    border-radius: 8px;
    background-color: rgba(0, 143, 161, 0.9);
    color: rgb(255, 255, 255);
}

.price-inner ul {
    padding: 0px;
}

.ads {
    padding: 3px;
}

.price-inner ul button {
    padding: 2px 15px;
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.3);
    color: black;
}

.price-inner ul button:hover {
    padding: 2px 15px;
    margin: 8px;
    background-color: rgb(13, 1, 122);
    border: 2px solid rgb(13, 1, 122);
    border-radius: 15px;
    box-shadow: 0 0 3px rgb(13, 1, 122);
    color: white;
}

.planName {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

@media(max-width:550px) {
    .planName {
        display: hidden;
        visibility: collapse;
        visibility: hidden;
    }
}

.planName ul {
    padding: 2px 25px;
    font-weight: bolder;
}


/* price table  */


/* *********************************************************************************** */


/* plan discription */

.planDis {
    width: 100%;
    height: auto;
}

@media(min-width:550px) and (max-width:1280px) {
    .planDis {
        display: none;
        visibility: collapse;
        height: 0px;
        width: 0px;
    }
}

.planCon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 84%;
    margin-bottom: 5%;
    /* margin-right: 6%; */
}

@media(max-width:550px) {
    .planCon {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100% !important;
        margin-bottom: 5%;
    }
}

.planTile {
    width: 50%;
    height: auto;
}

@media(max-width:550px) {
    .planTile {
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-basis: 100%;
    }
}

.planCont {
    width: 50%;
    height: auto;
    margin-top: 3rem;
}

@media(max-width:550px) {
    .planCont {
        width: 80%;
    }
    .planCont h5 {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .planCont p {
        text-align: center;
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 20px;
    }
}

.conMargin {
    margin-left: 20%;
}

@media(max-width:550px) {
    .conMargin {
        margin-left: 0px;
    }
}

#conMargin {
    margin-left: 20%;
}

@media(max-width:550px) {
    #conMargin {
        margin-left: 0px;
    }
}

.price-inner {
    width: 50%;
    text-align: center;
}

.right {
    margin-right: 5%;
    margin-top: 2rem;
}

.left {
    margin-left: 5%;
    margin-top: 2rem;
}

@media(max-width:550px) {
    #itemAling {
        margin-left: 5%;
        margin-right: 5%;
    }
    #itemAling ul {
        text-align: center;
    }
}


/* plan discription */